@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
}

.icon {
    color: var(--primary-dark);
}

@layer base {
    * {
        @apply font-poppins;
    }

    li {
        @apply p-4 cursor-pointer;
    }

    h1 {
        @apply text-3xl md:text-4xl font-bold;
    }

    h2 {
        @apply text-3xl font-bold;
    }

    h3 {
        @apply text-xl font-bold;
    }

    button {
        @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md;
    }

    .icon {
        @apply text-2xl cursor-pointer;
    }

    .navbar-is-open {
        @apply absolute text-black left-0 top-0 w-full bg-gray-100/90 px-4 py-7 flex flex-col;
    }

    .navbar-is-closed {
        @apply absolute left-[-100%] top-0 w-full bg-gray-100/90 px-4 py-7 flex flex-col
    }
}
